In [4]:
import numpy as np
import sys
from bs4 import BeautifulSoup as BSoup
import requests

In [5]:
formLink = "http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter?ww_i_reportModel=133685247"
showLink = "http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247"
r = requests.get(formLink)
soup = BSoup(r.text, "lxml")
selectFields = soup.find_all("select")

In [6]:
infoField=selectFields[0].find("option", text="Informatique")["value"]
infoFieldParam=selectFields[0]["name"]
bsSem1=selectFields[2].find("option", text="Bachelor semestre 1")["value"]
bsSem6=selectFields[2].find("option", text="Bachelor semestre 6")["value"]
semParam=selectFields[2]["name"]
allYears = selectFields[1].find_all("option")[1:]
yearParam = selectFields[1]["name"]
htmlradiobutton=soup.find("input", type="radio")

In [7]:
def showLinkGen(htmlP, htmlV, fieldP, fieldV, yearP, yearV, semP, semV):
  return "{}&{}={}&{}={}&{}={}&{}={}".format(showLink, htmlP, htmlV, fieldP, fieldV, yearP, yearV, semP, semV)
yearValue = allYears[0]["value"]
l4 = showLinkGen(htmlradiobutton["name"], htmlradiobutton["value"], infoFieldParam, infoField, yearParam, 
                 yearValue, semParam, bsSem1)
r2= requests.get(l4)

In [8]:
l4

'http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247&ww_i_reportModelXsl=133685270&ww_x_UNITE_ACAD=249847&ww_x_PERIODE_ACAD=355925344&ww_x_PERIODE_PEDAGO=249108'

In [42]:
import pandas as pd
def get_bs_dataframe(request_link):
  soup2 = BSoup(request_link.text, "lxml")
  elems=soup2.find_all("tr")[2:]
  titleinfo = soup2.find("font").text.split(', ')
  semester=titleinfo[2]
  semester=int(semester[(len(semester)-2):])
  year=titleinfo[1]
  all_data=[]
  for elem in elems:
    items=elem.find_all("td")
    gender = "M" if (items[0].text == "Monsieur") else "F"
    sciper = int(items[10].text)
    all_data.append({"Scipper": sciper, "Sex": gender, "Year": year, "Semester": semester})
  return pd.DataFrame(all_data)

In [43]:
get_bs_dataframe(r2)

     Scipper  Semester Sex       Year
0     235688         1   M  2016-2017
1     274015         1   M  2016-2017
2     268410         1   F  2016-2017
3     271464         1   M  2016-2017
4     274518         1   M  2016-2017
5     249613         1   M  2016-2017
6     262214         1   M  2016-2017
7     262239         1   M  2016-2017
8     257916         1   M  2016-2017
9     271508         1   F  2016-2017
10    269521         1   M  2016-2017
11    266684         1   M  2016-2017
12    258071         1   M  2016-2017
13    271608         1   F  2016-2017
14    204625         1   M  2016-2017
15    273765         1   M  2016-2017
16    266668         1   M  2016-2017
17    269502         1   M  2016-2017
18    274748         1   M  2016-2017
19    274746         1   M  2016-2017
20    270953         1   F  2016-2017
21    262179         1   M  2016-2017
22    274751         1   F  2016-2017
23    258330         1   F  2016-2017
24    260772         1   M  2016-2017
25    189560         1   M  2016-2017
26    270349         1   F  2016-2017
27    269905         1   M  2016-2017
28    275608         1   M  2016-2017
29    263800         1   M  2016-2017
..       ...       ...  ..        ...
206   261845         1   M  2016-2017
207   262732         1   M  2016-2017
208   270497         1   M  2016-2017
209   276507         1   M  2016-2017
210   258572         1   M  2016-2017
211   273018         1   F  2016-2017
212   272765         1   M  2016-2017
213   273578         1   M  2016-2017
214   261948         1   M  2016-2017
215   261549         1   F  2016-2017
216   266682         1   F  2016-2017
217   269700         1   M  2016-2017
218   272284         1   M  2016-2017
219   270055         1   M  2016-2017
220   271901         1   M  2016-2017
221   271183         1   M  2016-2017
222   269637         1   M  2016-2017
223   271228         1   F  2016-2017
224   260589         1   M  2016-2017
225   269583         1   M  2016-2017
226   276016         1   M  2016-2017
227   274240         1   M  2016-2017
228   251801         1   M  2016-2017
229   261781         1   F  2016-2017
230   268785         1   M  2016-2017
231   276323         1   M  2016-2017
232   257715         1   M  2016-2017
233   257393         1   M  2016-2017
234   250422         1   M  2016-2017
235   269845         1   M  2016-2017

[236 rows x 4 columns]