In [1]:
import numpy as np
import pandas as pd
import sys
from bs4 import BeautifulSoup as BSoup
import requests
formLink = "http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter?ww_i_reportModel=133685247"
showLink = "http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247"
r = requests.get(formLink)
soup = BSoup(r.text, "lxml")

In [2]:
def showLinkGen(htmlP, htmlV, fieldP, fieldV, yearP, yearV, semP, semV):
  return "{}&{}={}&{}={}&{}={}&{}={}".format(showLink, htmlP, htmlV, fieldP, fieldV, yearP, yearV, semP, semV)

In [3]:
selectFields = soup.find_all("select")
infoField=selectFields[0].find("option", text="Informatique")["value"]
infoFieldParam=selectFields[0]["name"]
bsSem1=selectFields[2].find("option", text="Bachelor semestre 1")["value"]
bsSem6=selectFields[2].find("option", text="Bachelor semestre 6")["value"]
semParam=selectFields[2]["name"]
allYears = [y["value"] for y in selectFields[1].find_all("option")[1:]]
yearParam = selectFields[1]["name"]
htmlradiobutton=soup.find("input", type="radio")
def get_html(sem, year):
    link = showLinkGen(htmlradiobutton["name"], htmlradiobutton["value"], infoFieldParam, infoField, yearParam, 
                 year, semParam, sem)
    return requests.get(link)

In [4]:
def get_bs_dataframe(request_link):
  soup2 = BSoup(request_link.text, "lxml")
  elems=soup2.find_all("tr")[2:]
  titleinfo = soup2.find("font").text.split(', ')
  semester=titleinfo[2]
  semester=int(semester[(len(semester)-2):])
  year=titleinfo[1]
  all_data=[]
  for elem in elems:
    items=elem.find_all("td")
    gender = "M" if (items[0].text == "Monsieur") else "F"
    sciper = int(items[10].text)
    all_data.append({"Scipper": sciper, "Sex": gender, "Year": year, "Semester": semester})
  return pd.DataFrame(all_data)

In [5]:
def get_bs_alldata():
  all_data = []
  for bsSem in [bsSem1, bsSem6]:
    for year in allYears:
        all_data.append(get_bs_dataframe(get_html(bsSem, year)))
  return pd.concat(all_data)
bs_data = get_bs_alldata()

In [6]:
msSem1_text="Master semestre 1"
msSemPF_text="Projet Master automne"
msSemPS_text="Projet Master printemps"
msSem1=selectFields[2].find("option", text=msSem1_text)["value"]
msSemPF=selectFields[2].find("option", text=msSemPF_text)["value"]
msSemPS=selectFields[2].find("option", text=msSemPS_text)["value"]

In [7]:
def get_ms_dataframe(request_link):
  soup2 = BSoup(request_link.text, "lxml")
  elems=soup2.find_all("tr")[2:]
  titleinfo = soup2.find("font")
  if(titleinfo is None):
      return pd.DataFrame([])
  else:
      titleinfo = titleinfo.text.split(', ')
      semester=titleinfo[2]
      semester=1 if semester==msSem1_text else (2 if semester==msSemPF_text else 3)
      year=titleinfo[1]
      all_data=[]
      for elem in elems:
        items=elem.find_all("td")
        gender = "M" if (items[0].text == "Monsieur") else "F"
        sciper = int(items[10].text)
        spec = items[4].text <> ""
        minor = items[6].text <> ""
        all_data.append({"Scipper": sciper, "Sex": gender, "Year": year, "Semester": semester,
                        "Minor": minor, "Specialization": spec})
      return pd.DataFrame(all_data)

In [9]:
def get_ms_alldata():
  all_data = []
  for sem in [msSem1, msSemPF, msSemPS]:
    for year in allYears:
        all_data.append(get_ms_dataframe(get_html(sem, year)))
  return pd.concat(all_data)
ms_data = get_ms_alldata()

In [10]:
ms_data

    Minor  Scipper  Semester Sex Specialization       Year
0   False   271331         1   M          False  2016-2017
1   False   273101         1   M          False  2016-2017
2   False   267543         1   M          False  2016-2017
3   False   202293         1   M          False  2016-2017
4   False   228219         1   M           True  2016-2017
5   False   212464         1   M          False  2016-2017
6   False   226371         1   M           True  2016-2017
7   False   273107         1   M           True  2016-2017
8   False   266983         1   M          False  2016-2017
9   False   273118         1   M          False  2016-2017
10  False   268422         1   M          False  2016-2017
11  False   269369         1   M          False  2016-2017
12  False   227120         1   M          False  2016-2017
13  False   236802         1   M          False  2016-2017
14  False   227370         1   M          False  2016-2017
15  False   226312         1   M          False  2016-2017
16  False   236608         1   M          False  2016-2017
17  False   227209         1   M          False  2016-2017
18  False   268695         1   M          False  2016-2017
19  False   202973         1   M           True  2016-2017
20  False   223485         1   M          False  2016-2017
21  False   268704         1   M          False  2016-2017
22  False   273156         1   M          False  2016-2017
23  False   238020         1   M          False  2016-2017
24  False   225203         1   M           True  2016-2017
25  False   228278         1   M          False  2016-2017
26  False   234840         1   M          False  2016-2017
27  False   272324         1   M          False  2016-2017
28  False   186790         1   M          False  2016-2017
29  False   267706         1   F          False  2016-2017
..    ...      ...       ...  ..            ...        ...
10  False   180959         3   M          False  2011-2012
11   True   196602         3   F          False  2011-2012
12  False   199238         3   M          False  2011-2012
0   False   161279         3   M          False  2010-2011
1   False   166344         3   M          False  2010-2011
2   False   191471         3   M          False  2010-2011
3   False   166491         3   M          False  2010-2011
4   False   174045         3   M          False  2010-2011
5   False   146742         3   M          False  2010-2011
6   False   175702         3   M           True  2010-2011
0   False   160213         3   M          False  2009-2010
1   False   154573         3   F           True  2009-2010
2   False   185523         3   M           True  2009-2010
3   False   183605         3   F          False  2009-2010
4   False   159516         3   M          False  2009-2010
5   False   186060         3   M           True  2009-2010
6   False   185522         3   M           True  2009-2010
7   False   170265         3   M          False  2009-2010
0   False   172687         3   M          False  2008-2009
1   False   180072         3   M           True  2008-2009
2   False   160225         3   M          False  2008-2009
3   False   165819         3   M           True  2008-2009
4   False   179878         3   M           True  2008-2009
5   False   177476         3   M          False  2008-2009
0   False   159852         3   M           True  2007-2008
1   False   153819         3   M          False  2007-2008
2   False   145957         3   M          False  2007-2008
3   False   173257         3   M          False  2007-2008
4   False   160150         3   M           True  2007-2008
5   False   173527         3   M          False  2007-2008

[1076 rows x 6 columns]