In [44]:
import numpy as np
import pandas as pd
import sys
from bs4 import BeautifulSoup as BSoup
import requests

In [45]:
formLink = "http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter?ww_i_reportModel=133685247"
showLink = "http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247"
r = requests.get(formLink)
soup = BSoup(r.text, "lxml")
selectFields = soup.find_all("select")

In [47]:
infoField=selectFields[0].find("option", text="Informatique")["value"]
infoFieldParam=selectFields[0]["name"]
bsSem1=selectFields[2].find("option", text="Bachelor semestre 1")["value"]
bsSem6=selectFields[2].find("option", text="Bachelor semestre 6")["value"]
semParam=selectFields[2]["name"]
allYears = [y["value"] for y in selectFields[1].find_all("option")[1:]]
yearParam = selectFields[1]["name"]
htmlradiobutton=soup.find("input", type="radio")

In [51]:
def showLinkGen(htmlP, htmlV, fieldP, fieldV, yearP, yearV, semP, semV):
  return "{}&{}={}&{}={}&{}={}&{}={}".format(showLink, htmlP, htmlV, fieldP, fieldV, yearP, yearV, semP, semV)
def get_bs_html(bsSem, year):
    link = showLinkGen(htmlradiobutton["name"], htmlradiobutton["value"], infoFieldParam, infoField, yearParam, 
                 year, semParam, bsSem)
    return requests.get(link)

In [52]:
def get_bs_dataframe(request_link):
  soup2 = BSoup(request_link.text, "lxml")
  elems=soup2.find_all("tr")[2:]
  titleinfo = soup2.find("font").text.split(', ')
  semester=titleinfo[2]
  semester=int(semester[(len(semester)-2):])
  year=titleinfo[1]
  all_data=[]
  for elem in elems:
    items=elem.find_all("td")
    gender = "M" if (items[0].text == "Monsieur") else "F"
    sciper = int(items[10].text)
    all_data.append({"Scipper": sciper, "Sex": gender, "Year": year, "Semester": semester})
  return pd.DataFrame(all_data)

In [53]:
def get_bs_alldata():
  all_data = []
  for bsSem in [bsSem1, bsSem6]:
    for year in allYears:
        all_data.append(get_bs_dataframe(get_bs_html(bsSem, year)))
  return pd.concat(all_data)
get_bs_alldata()

    Scipper  Semester Sex       Year
0    235688         1   M  2016-2017
1    274015         1   M  2016-2017
2    268410         1   F  2016-2017
3    271464         1   M  2016-2017
4    274518         1   M  2016-2017
5    249613         1   M  2016-2017
6    262214         1   M  2016-2017
7    262239         1   M  2016-2017
8    257916         1   M  2016-2017
9    271508         1   F  2016-2017
10   269521         1   M  2016-2017
11   266684         1   M  2016-2017
12   258071         1   M  2016-2017
13   271608         1   F  2016-2017
14   204625         1   M  2016-2017
15   273765         1   M  2016-2017
16   266668         1   M  2016-2017
17   269502         1   M  2016-2017
18   274748         1   M  2016-2017
19   274746         1   M  2016-2017
20   270953         1   F  2016-2017
21   262179         1   M  2016-2017
22   274751         1   F  2016-2017
23   258330         1   F  2016-2017
24   260772         1   M  2016-2017
25   189560         1   M  2016-2017
26   270349         1   F  2016-2017
27   269905         1   M  2016-2017
28   275608         1   M  2016-2017
29   263800         1   M  2016-2017
..      ...       ...  ..        ...
8    153762         6   M  2007-2008
9    166548         6   M  2007-2008
10   166746         6   M  2007-2008
11   166748         6   M  2007-2008
12   166751         6   M  2007-2008
13   170414         6   M  2007-2008
14   166889         6   M  2007-2008
15   161091         6   F  2007-2008
16   173604         6   F  2007-2008
17   159998         6   F  2007-2008
18   170833         6   M  2007-2008
19   170823         6   M  2007-2008
20   170241         6   M  2007-2008
21   170242         6   M  2007-2008
22   165562         6   M  2007-2008
23   167007         6   M  2007-2008
24   166260         6   M  2007-2008
25   167313         6   M  2007-2008
26   171028         6   M  2007-2008
27   167386         6   M  2007-2008
28   159516         6   M  2007-2008
29   161127         6   M  2007-2008
30   170931         6   M  2007-2008
31   167045         6   M  2007-2008
32   161220         6   M  2007-2008
33   170975         6   M  2007-2008
34   167530         6   M  2007-2008
35   170265         6   M  2007-2008
36   167439         6   M  2007-2008
37   171042         6   M  2007-2008

[2384 rows x 4 columns]